# ==============================
# Python
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
ENV/
env/
venv/
.venv/

# ==============================
# Airflow
# ==============================
logs/
airflow-webserver.pid
airflow-scheduler.pid
airflow.db

# ==============================
# dbt
# ==============================
dbt_packages/
target/
logs/

# ==============================
# Environment variables
# ==============================
.env

# ==============================
# Docker
# ==============================
*.log
*.pid

# ==============================
# VS Code
# ==============================
.vscode/

# ==============================
# OS
# ==============================
.DS_Store
Thumbs.db
